body{
    display: flex;
    text-align: center;
    justify-content: center;
    height: 50vh;
    margin: 0;
}
.bg-cont{
    background-color: #995aa5;
    height: 100hv;
    padding: 50px;
    border-radius: 20px;
}
.bg-color{
    background-color:#1f1d41 ;
    height: 30vh;
    width: 5vw;
    border-radius: 40px;
    text-align: center;
}
.head {
    color: #1f1d41;
    font-size: 40px;
    font-weight: 700;
    font-family: sans-serif;
}
.button1{
    background-color: #4b5069;
    width: 50px;
    height: 50px;
}
.button {
    background-color: #1f1d41;
    color: white;
    width: 66px;
    height: 40px;
    border-radius: 10px;
}